{% if not topmenu is defined %}
    {% set topmenu = false %}
{% endif %}
{% if not actions_menu is defined %}
    {% set actions_menu = false %}
{% endif %}
<!doctype html>
<html lang="ru" class="remember-theme">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="description" content='АИС ГБПОУ МО "ВАТ "Холмогорка"'>
    <meta name="author" content="vatholmogorka">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content='АИС ГБПОУ МО "ВАТ "Холмогорка"'>
    <meta property="og:site_name" content="AISVatholm">
    <meta property="og:description" content='АИС ГБПОУ МО "ВАТ "Холмогорка"'>
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!--<link rel="shortcut icon" href="assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/favicons/apple-touch-icon-180x180.png">-->
    {% include '@MainApp/base/_head_css.html.twig' %}
    {% include '@MainApp/base/_head_js.html.twig' %}
</head>

<body>
{% block body %}{% endblock %}
<div id="page-loader"></div>
{% block js %}{% endblock %}
</body>
</html>
