###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/apiplatform
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/public/assets.7z
/public/be_blocks_options.html
/composer.lock
/.idea/*
/public/assets/assets.zip
/public/upload/tmp/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/assets/vendor/@ckeditor/ckeditor5-build-classic/ckeditor5-build-classic.index.js
/assets/vendor/@ckeditor/ckeditor5-build-inline/ckeditor5-build-inline.index.js
/assets/vendor/@cropper/element/element.index.js
/assets/vendor/@cropper/element-canvas/element-canvas.index.js
/assets/vendor/@cropper/element-crosshair/element-crosshair.index.js
/assets/vendor/@cropper/element-grid/element-grid.index.js
/assets/vendor/@cropper/element-handle/element-handle.index.js
/assets/vendor/@cropper/element-image/element-image.index.js
/assets/vendor/@cropper/element-selection/element-selection.index.js
/assets/vendor/@cropper/element-shade/element-shade.index.js
/assets/vendor/@cropper/element-viewer/element-viewer.index.js
/assets/vendor/@cropper/elements/elements.index.js
/assets/vendor/@cropper/utils/utils.index.js
/assets/vendor/@editorjs/editorjs/editorjs.index.js
/assets/vendor/@fullcalendar/core/index.js
/assets/vendor/@fullcalendar/core/internal.js
/assets/vendor/@fullcalendar/core/preact.js
/assets/vendor/@fullcalendar/daygrid/index.js
/assets/vendor/@fullcalendar/daygrid/internal.js
/assets/vendor/@fullcalendar/interaction/index.js
/assets/vendor/@fullcalendar/list/index.js
/assets/vendor/@fullcalendar/multimonth/index.js
/assets/vendor/@fullcalendar/timegrid/index.js
/assets/vendor/@hotwired/stimulus/stimulus.index.js
/assets/vendor/@kurkle/color/color.index.js
/assets/vendor/@popperjs/core/core.index.js
/assets/vendor/@stimulus/core/core.index.js
/assets/vendor/@stimulus/multimap/multimap.index.js
/assets/vendor/@stimulus/mutation-observers/mutation-observers.index.js
/assets/vendor/bootstrap/dist/css/bootstrap.min.css
/assets/vendor/bootstrap/bootstrap.index.js
/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.index.js
/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.index.js
/assets/vendor/bootstrap-notify/bootstrap-notify.index.js
/assets/vendor/bootstrap-toaster/bootstrap-toaster.index.js
/assets/vendor/chart.js/chart.js.index.js
/assets/vendor/cropperjs/dist/cropper.min.css
/assets/vendor/cropperjs/cropperjs.index.js
/assets/vendor/datatables.net/datatables.net.index.js
/assets/vendor/datatables.net-autofill/datatables.net-autofill.index.js
/assets/vendor/datatables.net-autofill-bs5/css/autoFill.bootstrap5.min.css
/assets/vendor/datatables.net-autofill-bs5/datatables.net-autofill-bs5.index.js
/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css
/assets/vendor/datatables.net-bs5/datatables.net-bs5.index.js
/assets/vendor/datatables.net-buttons/datatables.net-buttons.index.js
/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css
/assets/vendor/datatables.net-buttons-bs5/datatables.net-buttons-bs5.index.js
/assets/vendor/datatables.net-colreorder/datatables.net-colreorder.index.js
/assets/vendor/datatables.net-colreorder-bs5/css/colReorder.bootstrap5.min.css
/assets/vendor/datatables.net-colreorder-bs5/datatables.net-colreorder-bs5.index.js
/assets/vendor/datatables.net-datetime/dist/dataTables.dateTime.min.css
/assets/vendor/datatables.net-datetime/datatables.net-datetime.index.js
/assets/vendor/datatables.net-fixedcolumns/datatables.net-fixedcolumns.index.js
/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css
/assets/vendor/datatables.net-fixedcolumns-bs5/datatables.net-fixedcolumns-bs5.index.js
/assets/vendor/datatables.net-fixedheader/datatables.net-fixedheader.index.js
/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css
/assets/vendor/datatables.net-fixedheader-bs5/datatables.net-fixedheader-bs5.index.js
/assets/vendor/datatables.net-keytable/datatables.net-keytable.index.js
/assets/vendor/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css
/assets/vendor/datatables.net-keytable-bs5/datatables.net-keytable-bs5.index.js
/assets/vendor/datatables.net-responsive/datatables.net-responsive.index.js
/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css
/assets/vendor/datatables.net-responsive-bs5/datatables.net-responsive-bs5.index.js
/assets/vendor/datatables.net-rowgroup/datatables.net-rowgroup.index.js
/assets/vendor/datatables.net-rowgroup-bs5/css/rowGroup.bootstrap5.min.css
/assets/vendor/datatables.net-rowgroup-bs5/datatables.net-rowgroup-bs5.index.js
/assets/vendor/datatables.net-rowreorder/datatables.net-rowreorder.index.js
/assets/vendor/datatables.net-rowreorder-bs5/css/rowReorder.bootstrap5.min.css
/assets/vendor/datatables.net-rowreorder-bs5/datatables.net-rowreorder-bs5.index.js
/assets/vendor/datatables.net-scroller/datatables.net-scroller.index.js
/assets/vendor/datatables.net-scroller-bs5/css/scroller.bootstrap5.min.css
/assets/vendor/datatables.net-scroller-bs5/datatables.net-scroller-bs5.index.js
/assets/vendor/datatables.net-searchbuilder/datatables.net-searchbuilder.index.js
/assets/vendor/datatables.net-searchbuilder-bs5/css/searchBuilder.bootstrap5.min.css
/assets/vendor/datatables.net-searchbuilder-bs5/datatables.net-searchbuilder-bs5.index.js
/assets/vendor/datatables.net-searchpanes/datatables.net-searchpanes.index.js
/assets/vendor/datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.min.css
/assets/vendor/datatables.net-searchpanes-bs5/datatables.net-searchpanes-bs5.index.js
/assets/vendor/datatables.net-select/datatables.net-select.index.js
/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css
/assets/vendor/datatables.net-select-bs5/datatables.net-select-bs5.index.js
/assets/vendor/datatables.net-staterestore/datatables.net-staterestore.index.js
/assets/vendor/datatables.net-staterestore-bs5/css/stateRestore.bootstrap5.min.css
/assets/vendor/datatables.net-staterestore-bs5/datatables.net-staterestore-bs5.index.js
/assets/vendor/dropzone/dropzone.index.js
/assets/vendor/easy-pie-chart/easy-pie-chart.index.js
/assets/vendor/flatpickr/dist/flatpickr.min.css
/assets/vendor/flatpickr/flatpickr.index.js
/assets/vendor/fullcalendar/fullcalendar.index.js
/assets/vendor/highlightjs/highlightjs.index.js
/assets/vendor/ion-rangeslider/ion-rangeslider.index.js
/assets/vendor/jquery/jquery.index.js
/assets/vendor/jquery.appear/jquery.appear.index.js
/assets/vendor/jquery.maskedinput/jquery.maskedinput.index.js
/assets/vendor/jquery-countdown/jquery-countdown.index.js
/assets/vendor/jquery-mask-plugin/jquery-mask-plugin.index.js
/assets/vendor/jquery-sparkline/jquery-sparkline.index.js
/assets/vendor/jquery-validation/jquery-validation.index.js
/assets/vendor/jszip/jszip.index.js
/assets/vendor/just-extend/just-extend.index.js
/assets/vendor/lodash/debounce.js
/assets/vendor/lodash/lodash.index.js
/assets/vendor/lodash/throttle.js
/assets/vendor/magnific-popup/dist/magnific-popup.min.css
/assets/vendor/magnific-popup/magnific-popup.index.js
/assets/vendor/pdfmake/pdfmake.index.js
/assets/vendor/preact/compat.js
/assets/vendor/preact/hooks.js
/assets/vendor/preact/preact.index.js
/assets/vendor/raty-js/raty-js.index.js
/assets/vendor/rollup/rollup.index.js
/assets/vendor/select2/dist/css/select2.min.css
/assets/vendor/select2/select2.index.js
/assets/vendor/simplebar/dist/simplebar.min.css
/assets/vendor/simplebar/simplebar.index.js
/assets/vendor/simplebar-core/dist/simplebar.min.css
/assets/vendor/simplebar-core/simplebar-core.index.js
/assets/vendor/slick-carousel/slick-carousel.index.js
/assets/vendor/stimulus/stimulus.index.js
/assets/vendor/stimulus-select2/stimulus-select2.index.js
/assets/vendor/sweetalert2/sweetalert2.index.js
/assets/vendor/toastr/build/toastr.min.css
/assets/vendor/toastr/toastr.index.js
/assets/vendor/vide/vide.index.js
/assets/vendor/installed.php
