{% extends '@MainApp/base/base.html.twig' %}

{% block title %}New ContingentDocument{% endblock %}

{% block body %}
    {{ include('@mod_education/contingent_document/_formNew.html.twig') }}
    <a href="{{ path('app_contingent_document_index') }}">back to list</a>
{% endblock %}
