    <main>
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-1">
                {% if (refer is defined and refer_link is defined) and refer!=0 %}
                    <div class="flex-grow-0"><a href="{{ refer_link }}"
                                                class="btn btn-secondary mx-2"><i class="fa-solid fa-reply"></i></a>
                    </div>
                {% else %}

                {% endif %}

                <div class="flex-grow-1">
                    <h1 class="h3 fw-bold mb-2">
                        {% if page_title is defined %} {{ page_title }} {% endif %}
                    </h1>
                    <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                        {% if sub_page_title is defined %} {{ sub_page_title |raw }} {% endif %}
                    </h2>
                </div>
                <!--<nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-alt">
                        <li class="breadcrumb-item">
                            <a class="link-fx" href="javascript:void(0)">Layout</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="link-fx" href="javascript:void(0)">Page</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            Default
                        </li>
                    </ol>
                </nav>-->
            </div>


        </div>

    </div>
    <!-- END Hero -->

    <div class=" ">
        <div class="block  block-themed ">
            <div class="block-header bg-secondary">
                <h1></h1>
                <div class="block-options">

                    {% block topmenu_items %}


                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="content pt-0">
        <div class="progress d-none" id="pbmain_div" style="height: 50px">
            <div id="pbmain"
                 class="progress-bar  progress-bar-striped progress-bar-animated bg-secondary text-light"
                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        {% block body %}{% endblock %}

    </div>
    <!-- END Page Content -->

    </main>